
/*#map,
#bubble_chart,
#bar_chart,
#area_chart,
#bump_chart {
  background-color: #d3d3d3;
}*/


text { fill: #333; }
text.year {
    font-family: monospace;
    pointer-events: none;
}

#title {
    height:25px;
}


.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: transparent;
  stroke: #cecece;
  cursor: pointer;
  font-size: 20px;
}

.feature.active { 
  stroke: #00b5b5;
  stroke-width: 2;
}

h1 {
 font-family: Helvetica;
 font-size: 30px;
 /*background-color: #d3d3d3;*/
}

h3 {
 font-family: Helvetica;
 font-size: 20px;
 /*background-color: #d3d3d3;*/
}

h5{ 
 	font-family: Lucidatypewriter, monospace;}
 	
p{
  font-family: Lucidatypewriter, monospace;
  font-size: 10px;}
text { fill: #333; }
text.year {
    font-family: monospace;
    pointer-events: none;
}

#controls {
    position: relative;
    top: 10px;  left: 120px;
}

.click-active, .active {
  opacity: 1.0;
  stroke-opacity: 1.0;
  z-index: 1000;
  /*r: 8;*/
}

path.click-active {
  stroke-width: 3.0;
}

path.active {
  stroke-width: 3.0;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

g.xaxis_bar,
g.yaxis_bar {
  font-family: Lucidatypewriter, monospace;
  font-size: 8pt;
}

text.ltext_bar,
text.ltext_area,
text.xText_bar,
text.xText_area,
text.yText_bar {
    font-size: 10pt;
    font-family: Lucidatypewriter, monospace;
    fill: #2d2e2e;
    font-style: italic;
}

.tooltip_bar,
.tooltip_bump,
.tooltip_bubble {
  position: absolute;
  padding: 10px;
  font: 12px sans-serif;
  background: #222;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0.9;
  visibility: hidden;
}

/*I tried to add z index to bubbles*/
#bubbleIN{
  z-index: 4;
}
#bubbleWI{
  z-index: 3;
}
#bubbleMI{
  z-index: 2;
}
#bubbleIL{
  z-index: 1;
}