h1,h3
 { 
 	font-family: Lucidatypewriter, monospace;}
 	
p{
 font-family: Lucidatypewriter, monospace;}
text { fill: #333; }
text.year {
    font-family: monospace;
    pointer-events: none;
}
#controls {
    position: absolute;
    top: 15px; right: 15px;
}