
.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: transparent;
  stroke: #cecece;
  cursor: pointer;
}

.feature.active { 
  stroke: #00b5b5;
  stroke-width: 2;
}